/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { position: relative; color: #2b2b2b; font-size: 14px; font-family: Arial, sans-serif; line-height: 1.4; background: url("../img/bg-img.png") no-repeat 35% -41px; }
body.body { background: none; }
body.body .out:after { position: absolute; content: ""; top: 0; left: 0; width: 100%; bottom: 0; z-index: -2; background: url("../img/bg-inside.png") no-repeat 83% 77%; }

.out { position: relative; min-width: 950px; overflow: hidden; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -125px; }
.out:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; bottom: 0; opacity: 0.8; z-index: -1; background: url("../img/bg-pic.png"); }

h1, h2, h3, h4, h5, h6, .header__text, .header__phone, .nav, .preview__item, .title, .info__list, .about__item, .reviews__title, .news__title, .news__date, .cycle__block, .footer__phone, .menu { font-family: "Roboto Condensed", sans-serif; }

.container { margin: 0 auto; width: 950px; }

.row { margin-left: 10px; padding-top: 22px; border-top: 1px dotted #797b79; }

.header { padding-top: 10px; height: 101px; background-color: white; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header:after { content: " "; display: table; clear: both; }
.header .header__left { float: left; }
.header .header__logo { display: inline-block; background: url('../img/icons-s40ab3af8c8.png') 0 0 no-repeat; width: 188px; height: 83px; }
.header .header__text { margin: 12px 0 0 5px; width: 170px; color: #189b33; font-size: 18px; font-weight: 700; line-height: 1.2; vertical-align: top; text-transform: uppercase; display: inline-block; }
.header .header__right { float: right; text-align: right; }
.header .header__phone { position: relative; margin: 8px 0; padding-left: 40px; color: #252525; line-height: 1; font-size: 26px; }
.header .header__phone span { font-weight: 700; }
.header .header__phone i { position: absolute; top: 50%; left: 0; width: 30px; height: 30px; margin-top: -15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; background-color: #f5bd13; display: block; }
.header .header__phone i:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -8px 0 0 -7.5px; background: url('../img/icons-s40ab3af8c8.png') 0 -515px no-repeat; width: 15px; height: 16px; }

.title { font-size: 24px; font-weight: 700; text-transform: uppercase; }
.title.title__top { padding-left: 10px; margin-bottom: 0; }

.btn { position: relative; padding: 7px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-family: Arial, sans-serif; display: inline-block; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn.btn_orange { font-size: 14px; color: #2b2b2b; background: #f5bd13; }
.btn.btn_orange:hover { background: #ffcd39; }
.btn.btn_orange:active { background-color: #f5bd13; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.12)), color-stop(100%, rgba(0, 0, 0, 0.12))); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); }
.btn.btn_orange-big { width: 230px; height: 40px; color: white; font-size: 20px; font-weight: 700; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; background: #f6bd14; }
.btn.btn_view { color: white; background: #2b2b2b; }
.btn.btn_view:hover { background: #189b33; }
.btn.btn_view:active { background-color: #007d15; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.12)), color-stop(100%, rgba(0, 0, 0, 0.12))); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%); }
.btn.btn_oll { color: #f6bd14; text-decoration: underline; border: 1px solid #f6bd14; background: none; }
.btn.btn_oll:hover { text-decoration: none; }
.btn.btn_oll:active { top: -1px; }

.form { margin-top: 15px; }
.form .form__row { margin-bottom: 10px; }
.form .form__row_top { font-size: 0; }
.form .form__row_top .input { margin-left: 2%; width: 49%; }
.form .form__row_top .input:first-child { margin-left: 0; }
.form.form_mod .input { border: 1px solid #7d7d7d; }

.input { padding: 10px; height: 38px; width: 100%; font-family: Arial, sans-serif; font-size: 14px; color: #898989; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: 1px solid #f8ca43; background-color: white; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input:focus:-ms-input-placeholder { font-size: 0; }
.input:focus:-moz-placeholder { font-size: 0; }
.input:focus::-moz-placeholder { font-size: 0; }
.input:focus::-webkit-input-placeholder { font-size: 0; }
.input:focus::placeholder { font-size: 0; }
.input.input_textarea { height: 120px; resize: none; }
.input.input_textarea-addr { height: 78px; }

.footer, .push { height: 125px; }

.footer { position: relative; padding-top: 10px; border-top: 1px dotted #7f7f7f; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer .footer__left { float: left; width: 190px; }
.footer .footer__logo { display: inline-block; background: url('../img/icons-s40ab3af8c8.png') 0 -93px no-repeat; width: 142px; height: 63px; }
.footer .footer__copyright { color: black; font-size: 13px; }
.footer .footer__right { float: right; width: 760px; }
.footer .footer__nav { margin: 26px 0 3px; line-height: 1; text-align: right; }
.footer .footer__nav .nav__item a { padding: 0 0 0 16px; font-size: 14px; color: black; }
.footer .footer__nav .nav__item:before { content: none; }
.footer .footer__nav .nav__item:first-child a { padding-left: 0; }
.footer .footer__row { *zoom: 1; }
.footer .footer__row:after { content: " "; display: table; clear: both; }
.footer .footer__phone { position: relative; float: left; padding-left: 33px; font-weight: 700; font-size: 20px; }
.footer .footer__phone:before { position: absolute; content: ""; top: 50%; left: 5px; margin-top: -8px; background: url('../img/icons-s40ab3af8c8.png') 0 -541px no-repeat; width: 15px; height: 16px; }
.footer .footer__phone span { font-weight: 300; }
.footer .footer__studio { float: right; color: black; text-decoration: underline; }
.footer .footer__studio:hover { text-decoration: none; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 50%; }
.l .l-col2 { float: right; width: 50%; }
.l .l-left { float: left; width: 240px; }
.l .l-right { float: right; width: 710px; }
.l .l-left, .l .l-right { padding-top: 25px; }

.navigation { height: 71px; border-top: 2px solid #f6bd14; border-bottom: 2px solid #f6bd14; background-color: #242424; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.21)), color-stop(50%, rgba(255, 255, 255, 0.21)), color-stop(100%, rgba(0, 0, 0, 0.21))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0.21) 50%, rgba(0, 0, 0, 0.21) 100%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0.21) 50%, rgba(0, 0, 0, 0.21) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0.21) 50%, rgba(0, 0, 0, 0.21) 100%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0.21) 50%, rgba(0, 0, 0, 0.21) 100%); }

.nav { line-height: 71px; font-size: 0; text-align: center; }
.nav .nav__item { position: relative; padding-left: 1px; line-height: 0.8; font-size: 0; vertical-align: middle; display: inline-block; }
.nav .nav__item.is-active a { background-color: #f5bd13; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #191919; }
.nav .nav__item.is-active a:hover { color: #191919; }
.nav .nav__item:first-child:before { display: none; }
.nav .nav__item:before { position: absolute; content: ""; top: 50%; left: 0px; margin-top: -6px; height: 12px; border-left: 1px dotted #959595; }
.nav .nav__item a { padding: 0 10px; height: 32px; color: white; line-height: 32px; font-size: 17px; font-weight: 700; text-decoration: none; text-transform: uppercase; display: inline-block; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.nav .nav__item a:hover { color: #f6bd14; }

.preview { font-size: 0; }
.preview .preview__item { position: relative; width: 25%; height: 336px; vertical-align: top; text-decoration: none; background-size: cover; background-repeat: no-repeat; display: inline-block; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.preview .preview__item:hover { opacity: 0.8; }
.preview .preview__item:hover .preview__title, .preview .preview__item:hover .preview__inf { background: #154f35; }
.preview .preview__title, .preview .preview__inf { color: white; background-color: #154f35; background-color: rgba(21, 79, 53, 0.9); background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(-25%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(125%, rgba(0, 0, 0, 0.1))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.1) 125%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.1) 125%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.1) 125%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.1) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.1) 125%); }
.preview .preview__title { padding: 20px; font-size: 24px; font-weight: 700; line-height: 1.3; text-transform: uppercase; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.preview .preview__inf { margin-top: 219px; padding: 7px 18px; font-size: 16px; font-weight: 400; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.info { padding: 38px 0 26px; background-color: #f5bd13; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(-25%, rgba(0, 0, 0, 0.21)), color-stop(125%, rgba(255, 255, 255, 0.21))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.21) 125%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.21) 125%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.21) 125%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.21) 125%); }

.info__col { position: relative; padding: 20px 0 20px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.info__col:before { position: absolute; content: ""; top: 0; left: 0; height: 100%; width: 1px; border-left: 1px dotted #7b640b; }
.info__col:first-child { padding-left: 0; }
.info__col:first-child:before { content: none; }

.title { margin-bottom: 18px; }

.info__text { padding-right: 20px; }

.info__list { margin: 26px 0 11px; font-size: 0; }

.info__item { position: relative; margin-left: 7px; height: 70px; width: 70px; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; display: inline-block; }
.info__item:hover .info__link { visibility: visible; opacity: 1; }
.info__item .info__link { position: absolute; top: 0; left: 0; height: 100%; width: 100%; color: #252525; line-height: 70px; font-size: 14px; font-weight: 700; text-align: center; text-decoration: underline; text-transform: uppercase; visibility: hidden; opacity: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: white; background-color: rgba(255, 255, 255, 0.9); -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.info__item:first-child { margin-left: 0; }
.info__item img { display: block; }

.about { position: relative; }
.about:before { position: absolute; content: ""; top: 0; left: 0; height: 100%; width: 100%; z-index: -2; background: url("../img/bg-img.png") no-repeat 35% 84px; background-attachment: fixed; }
.about .about__l { padding: 46px 0; }
.about .about__l p { margin-top: 10px; }
.about .about__row { margin: 28px 0 45px; font-size: 0; }
.about .about__item { text-align: center; width: 16.6%; vertical-align: top; color: #252525; text-decoration: none; display: inline-block; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.about .about__item:hover { text-decoration: underline; }
.about .about__item:hover .about__ico { -webkit-box-shadow: 0 0 3px #f5bd13; -moz-box-shadow: 0 0 3px #f5bd13; box-shadow: 0 0 3px #f5bd13; }
.about .about__ico { position: relative; height: 69px; width: 69px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #f5bd13; display: inline-block; }
.about .about__ico i { position: absolute; top: 50%; left: 50%; display: block; }
.about .about__ico.about__ico_1 i { margin: -18px 0 0 -18px; background: url('../img/icons-s40ab3af8c8.png') 0 -276px no-repeat; width: 36px; height: 36px; }
.about .about__ico.about__ico_2 i { margin: -18px 0 0 -12.5px; background: url('../img/icons-s40ab3af8c8.png') 0 -196px no-repeat; width: 25px; height: 36px; }
.about .about__ico.about__ico_3 i { margin: -13px 0 0 -10.5px; background: url('../img/icons-s40ab3af8c8.png') 0 -362px no-repeat; width: 21px; height: 26px; }
.about .about__ico.about__ico_4 i { margin: -12.5px 0 0 -9.5px; background: url('../img/icons-s40ab3af8c8.png') 0 -480px no-repeat; width: 19px; height: 25px; }
.about .about__ico.about__ico_5 i { margin: -12px 0 0 -18px; background: url('../img/icons-s40ab3af8c8.png') 0 -242px no-repeat; width: 36px; height: 24px; }
.about .about__ico.about__ico_6 i { margin: -15px 0 0 -14.5px; background: url('../img/icons-s40ab3af8c8.png') 0 -322px no-repeat; width: 29px; height: 30px; }
.about .about__title { margin-top: 16px; text-align: center; font-size: 17px; font-weight: 700; text-transform: uppercase; }

.reviews { position: relative; min-width: 950px; border-top: 2px solid #f6bd14; border-bottom: 2px solid #f6bd14; background-color: #154f35; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(-25%, rgba(0, 0, 0, 0.21)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(125%, rgba(0, 0, 0, 0.21))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.21) 125%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.21) 125%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.21) 125%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.21) -25%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.21) 125%); }
.reviews:before { position: absolute; content: ""; top: 42px; left: 50%; bottom: 40px; margin-left: -1px; width: 1px; border-left: 1px dotted #8db0a0; }
.reviews .container { position: relative; padding: 38px 0; z-index: 1; }
.reviews .container:before { position: absolute; content: ""; top: 0; right: -168px; height: 100%; width: 100%; opacity: 0.4; z-index: -1; background: url("../img/rev-bg.png") no-repeat 100% 0; }
.reviews .reviews__block { padding: 0 20px 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.reviews .reviews__block:first-child { padding-left: 0; }
.reviews .reviews__block:last-child { padding-right: 0; }
.reviews .reviews__block .btn { float: right; }
.reviews .reviews__title { color: white; font-size: 24px; font-weight: 700; text-transform: uppercase; }
.reviews .reviews__row { margin: 20px 0 16px; color: white; }
.reviews .reviews__col { padding-left: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.reviews .reviews__col:first-child { padding-left: 0; }
.reviews .reviews__img { width: 70px; height: 70px; line-height: 70px; text-align: center; overflow: hidden; border: 1px solid #f6bd14; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.reviews .reviews__img img { vertical-align: middle; display: inline-block; }
.reviews .reviews__user { margin: 5px 0 10px; color: #f6bd14; }

.news { padding: 40px 0 0; font-size: 13px; line-height: 1.3; }
.news .news__block { margin-top: 18px; *zoom: 1; }
.news .news__block:after { content: " "; display: table; clear: both; }
.news .news__img { float: left; margin: 6px 0 0 0; height: 109px; width: 109px; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.news .news__text { float: left; padding-left: 30px; width: 360px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.news .news__title, .news .news__date { font-size: 14px; text-transform: uppercase; font-weight: bold; }
.news .news__title { color: #164f36; text-decoration: none; }
.news .news__title:hover { text-decoration: underline; }
.news .news__date { color: #636363; }
.news .news__img:hover + .news__text .news__title { text-decoration: underline; }

.gallery { margin-top: 48px; padding: 48px 0; border-top: 1px dotted #7f7f7f; }
.gallery .cycle { margin-top: 16px; border-top: 2px solid #f6bd14; border-bottom: 2px solid #f6bd14; }
.gallery .cycle-slideshow { position: relative; height: 190px; font-size: 0; overflow: visible !important; }
.gallery .cycle-slideshow:before { position: absolute; content: ""; height: 100%; width: 1000%; top: 0; left: -1000%; z-index: 1000; opacity: 0.7; background: black; }
.gallery .cycle-slideshow:after { position: absolute; content: ""; top: 0; right: -1000%; height: 100%; width: 1000%; z-index: 1000; opacity: 0.7; background: black; }
.gallery .cycle__item { position: relative !important; width: 190px; overflow: hidden; }
.gallery .cycle__item:hover .cycle__block { visibility: visible; opacity: 1; }
.gallery .cycle__item img { width: 100%; }
.gallery .cycle__block { position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #252525; z-index: 200; visibility: hidden; text-align: center; line-height: 190px; font-size: 17px; opacity: 0; background: #f6bd14; background: rgba(246, 189, 20, 0.8); -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.gallery .cycle__nav { position: absolute; top: 0; width: 190px; height: 190px; z-index: 3000; background: none; display: block; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.gallery .cycle__nav:hover { background: #8bfcab; background: rgba(139, 252, 171, 0.2); }
.gallery .cycle__nav:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -15.5px 0 0 -9px; }
.gallery .cycle__nav_prev { left: -190px; }
.gallery .cycle__nav_prev:before { background: url('../img/icons-s40ab3af8c8.png') 0 -439px no-repeat; width: 18px; height: 31px; }
.gallery .cycle__nav_next { right: -190px; }
.gallery .cycle__nav_next:before { background: url('../img/icons-s40ab3af8c8.png') 0 -398px no-repeat; width: 18px; height: 31px; }

.menu { margin-bottom: 16px; font-size: 14px; }
.menu li { padding-left: 10px; line-height: 30px; }
.menu li.is-active { background: #164f36; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.menu li.is-active a { color: white; text-decoration: none; }
.menu li.is-active a:hover { color: white; }
.menu li a:hover { color: #189b33; text-decoration: none; }

.menu__item a { color: #2b2b2b; text-transform: uppercase; font-weight: 300; }
.menu__item ul li { padding-left: 15px; }
.menu__item ul li a { text-transform: capitalize; }

.make__col { margin-bottom: 28px; }
.make__col .info__list { margin: 0 0 12px 0; }

.content { padding-left: 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { padding-bottom: 12px; font-weight: 700; text-transform: uppercase; }
.content h1 { font-size: 24px; }
.content h2 { font-size: 20px; }
.content h3 { font-size: 17px; }
.content h4 { font-size: 16px; }
.content h5 { font-size: 15px; }
.content h6 { font-size: 14px; }
.content p { padding-bottom: 10px; }
.content a { color: black; }
.content a:hover { color: #189b33; }
.content a:active { color: #164f36; }
.content table { margin-bottom: 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #b9cac2; }
.content table th, .content table td { padding-left: 10px; text-transform: uppercase; font-weight: normal; text-align: left; line-height: 30px; }
.content table th:first-child, .content table td:first-child { width: 70px; }
.content table tr:nth-of-type(even) { background: #a8bdb4; }
.content ul, .content ol { margin-left: 18px; }
.content ul li:first-letter, .content ol li:first-letter { text-transform: uppercase; }
.content ul ul, .content ol ul { padding-left: 18px; }
.content .list { margin-bottom: 18px; list-style-type: disc; }
.content .list ul { list-style-type: disc; }
.content .list-nom { list-style: decimal; }
.content .list-nom_mod { padding-left: 0; }
.content .list-nom_mod li:first-letter { text-transform: none; }
